

#welcome{
    font-size: x-large;
    
}

.welomecontainer{
align-content: left;
}


#subheader{
    font-size: 150%;
}
#welcome_text{
    font-size: 150%;
}

mat-icon{
    font-size: 300%;
}



mat-panel-title{
    
    text-align: left;
    justify-content: left;
    font: bold;
    font-size: 130%;
}

mat-card{
    margin-left: 10%;
    margin-right: 0%;
    width: 70%;
    height: 40%;
    text-align: left;
}

mat-expansion-panel{
    margin-left: 10%;
    width: 80%;
    text-align: left;
}

mat-accordion{
    width: 100%;
}

.row{
    margin-bottom: 10%;
}

