<div class="col justify-content-center">      
    <div class="row mx-auto mt-4" style="max-width: fit-content; max-height: fit-content;">
        <mat-card>
            <mat-card-content>
                <div id="welcome" class="text-center col-12">
                    <h2 id="welcome_text">Bem vindo ao</h2>
                    <a href="/"><img src="../../assets/img/le.png" style="max-height:100px" class="img-fluid"></a>
                    <p></p>
                    <p id="welcome_text" class="text-kerning text-bold">Learning eletronics</p>
                    <p id="subheader ">Perguntas Frequentes</p>
                </div>
            </mat-card-content>
        </mat-card>                 
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              O que é a plataforma learning eletronics?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>A plataforma learning eletronics é uma plataforma desenvolvida por alunos de 3º ano de LECI no ambito da UC de PECI.
            Que visa a tonar mais dinâmica as interações entre professor e aluno.
          </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Quais foram as inspirações para este projeto.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Algumas das principais inspirações para este projeto foram as aplicações e plataformas de aprendizagem do código da estrada.No aspeto 
            de traking e recomendações de testes.Aplicações como o duoling que realizam testes de escolha multipla. Algum do design foi baseado na plataforma
            siacua.
          </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Qual foi a motivação por detrás desta plataforma?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>A motivação por de trás desta plataforma foi o facto do ensino na aŕea de eletrónica especialmente no esnino superior 
            ser extremamente teorico e cada vez menos didático.
          </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Como posso aceder á plataforma?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>A plataforma está disponivel num repositório publico e pode ser operada e instalada lendo o guião de utilização.</p>
        </mat-expansion-panel>
    </mat-accordion>

      

