      
                   
    

    


    <mat-grid-list cols="2" rowHeight="2:1">
      
      <mat-grid-tile >
        <mat-card>
          <mat-card-content >
              <div id="welcome" class=" col-12">
                  <p id="welcome_text" class="text-kerning text-bold">Learning eletronics</p>
                  <p id="subheader ">Perguntas Frequentes</p>
              </div>
          </mat-card-content>
      </mat-card>      
      </mat-grid-tile>

      <!-- <mat-grid-tile class="image"><img src="/assets/img/le.png" alt=""></mat-grid-tile> -->

    </mat-grid-list>
        
          
        <mat-accordion>
          
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                O que motivou este projeto?
              </mat-panel-title>
            </mat-expansion-panel-header>
            este projeto foi motivado por bla bla bla
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                O que motivou este projeto?
              </mat-panel-title>
            </mat-expansion-panel-header>
            este projeto foi motivado por bla bla bla
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                O que motivou este projeto?
              </mat-panel-title>
            </mat-expansion-panel-header>
            este projeto foi motivado por bla bla bla
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                O que motivou este projeto?
              </mat-panel-title>
            </mat-expansion-panel-header>
            este projeto foi motivado por bla bla bla
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                O que motivou este projeto?
              </mat-panel-title>
            </mat-expansion-panel-header>
            este projeto foi motivado por bla bla bla
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                O que motivou este projeto?
              </mat-panel-title>
            </mat-expansion-panel-header>
            este projeto foi motivado por bla bla bla
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                O que motivou este projeto?
              </mat-panel-title>
            </mat-expansion-panel-header>
            este projeto foi motivado por bla bla bla
          </mat-expansion-panel>
        </mat-accordion>

        
        
      
    
      

