.mat-stroked-button {
    margin: auto;
    width: 50%;
}

.file {
    transform: scale(3);
    align-self: center;
    padding: 0px;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img {
    width: 30%;
}

.a-pdf, .a-pdf:visited, .a-pdf:hover, .a-pdf:active {
    color: inherit;
}

.faq-img {
    width: 20%;
    object-fit: contain;
}

@media screen and (max-width: 990px) {
    .user-img {
       width: 70%;
       max-width: 90px;
    }

    .mat-stroked-button {
        width: 90%;
        max-width: 130px;
    }

    mat-expansion-panel {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .faq-img {
        width: 50%;
        max-width: 200px;
    }
}

mat-expansion-panel {
    height: fit-content;
}
