<div class="col justify-content-center">      
    <div class="row mx-auto mt-4" style="max-width: fit-content; max-height: fit-content;">
        <mat-card>
            <mat-card-content>
                <div id="welcome" class="text-center col-12">
                    <h2 id="welcome_text">Bem vindo ao</h2>
                    <a href="/"><img src="../../assets/img/le.png" style="max-height:100px" class="img-fluid"></a>
                    <p></p>
                    <p id="welcome_text" class="text-kerning text-bold">Learning eletronics</p>
                    <p id="subheader ">Perguntas Frequentes</p>
                </div>
            </mat-card-content>
        </mat-card>                 
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    </mat-accordion>

      

