.title {
    font-size: 2rem;
    font-weight: 450;
    text-align: center;
}

p {
    text-align: center;
}

.info {
    min-width: 375px !important;
    align-items: center;
    justify-content: center;
}

.quiz {
    min-width: 375px !important;
    align-items: center;
    justify-content: center;
}

img {
    float: right;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}

mat-card {
    max-width: 400px;
}

mat-radio-group {
    width: fit-content;
}

@media screen and (max-width: 968px) {
    h1 {
        text-align: center;
    }

    .info {
        min-width: 100% !important;
    }

    .quiz {
        min-width: 100% !important;
    }

    img {
        float: unset;
    }

    mat-card {
        width: 90%;
    }
}

.mat-raised-button {
    margin: auto;
    width: fit-content;
}

.mat-form-field {
    width: 85%;
}
