<div class="container">
    <p class="my-5">Página da turma - {{data.name}}</p>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Membros">
            <mat-toolbar class="mt-2">
                <div class="col-2 mt-2">
                    <mat-form-field style="font-size: 0.95rem;">
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilterMembers($event)" #inputM>
                        <mat-icon>search</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col">
                    <button style="display: relative; float: right;"
                        mat-raised-button *ngIf="selectionMembers.selected.length > 0"
                        color="warn" (click)="desassociateMembers()">
                        Desassociar Aluno{{ selectionMembers.selected.length > 1 ? 's' : '' }}
                    </button>
                </div>
            </mat-toolbar>

            <table mat-table [dataSource]="dataSourceMembers" matSort (matSortChange)="sortDataMembers($event)" class="mat-elevation-z8">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th [style.width]="'8%'" mat-header-cell *matHeaderCellDef >
                        <mat-checkbox (change)="$event ? masterToggleMembers() : null" 
                                        [checked]="selectionMembers.hasValue() && isAllSelectedMembers()"
                                        [indeterminate]="selectionMembers.hasValue() && !isAllSelectedMembers()">
                        </mat-checkbox>
                    </th>
                    <td [style.width]="'8%'" mat-cell *matCellDef="let row">
                        <mat-checkbox *ngIf="row.type == 'Estudante'" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionMembers.toggle(row) : null"
                                        [checked]="selectionMembers.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Tipo</th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="first_name">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Primeiro Nome</th>
                    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                </ng-container>
                
                <ng-container matColumnDef="last_name">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Último Nome</th>
                    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsMembers"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMembers;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Não há membros que correspondam ao filtro "{{inputM.value}}"</td>
                </tr>
            </table>
            <mat-paginator appPageSizeClassMembers [length]="pageSizeMembers" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Seleciona página dos Membros">
            </mat-paginator>
        </mat-tab>

        <mat-tab label="Exercícios">
            <mat-toolbar class="mt-2">
                <div class="col-2 mt-2">
                    <mat-form-field style="font-size: 0.95rem;">
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilterExercises($event)" #inputE>
                        <mat-icon>search</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col">
                    <button style="display: relative; float: right;" 
                        mat-raised-button *ngIf="selectionExercises.selected.length > 0" color="warn" (click)="desassociateExercises()">   
                        Desassociar Exercício{{ selectionExercises.selected.length > 1 ? 's' : '' }}
                    </button>
                </div>
            </mat-toolbar>

            <table mat-table [dataSource]="dataSourceExercises" matSort (matSortChange)="sortDataExercises($event)" class="mat-elevation-z8">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th [style.width]="'8%'" mat-header-cell *matHeaderCellDef >
                        <mat-checkbox (change)="$event ? masterToggleExercises() : null" 
                                        [checked]="selectionExercises.hasValue() && isAllSelectedExercises()"
                                        [indeterminate]="selectionExercises.hasValue() && !isAllSelectedExercises()">
                        </mat-checkbox>
                    </th>
                    <td [style.width]="'8%'" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionExercises.toggle(row) : null"
                                        [checked]="selectionExercises.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="question">
                    <th [style.width]="'40%'" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Pergunta">Pergunta</th>
                    <td [style.width]="'40%'" mat-cell *matCellDef="let element"> {{element.question}} </td>
                </ng-container>
                
                <ng-container matColumnDef="theme">
                    <th mat-header-cell *matHeaderCellDef>Temas</th>
                    <td mat-cell *matCellDef="let element"> {{element.theme}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th [style.width]="'15%'" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Data">Data</th>
                    <td [style.width]="'15%'" mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsExercises"></tr>
                <tr mat-row (click)="popup(row)" *matRowDef="let row; columns: displayedColumnsExercises;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Não há perguntas que correspondam ao filtro "{{inputE.value}}"</td>
                </tr>
            </table>
            <mat-paginator appPageSizeClassExs [length]="pageSizeExercises" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Seleciona página dos Exercícios">
            </mat-paginator>
        </mat-tab>

        <mat-tab label="Testes">
            <mat-toolbar class="mt-2">
                <div class="col-2 mt-2">
                    <mat-form-field style="font-size: 0.95rem;">
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilterExams($event)" #inputExam>
                        <mat-icon>search</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col">
                    <button style="display: relative; float: right;"
                        mat-raised-button *ngIf="selectionExams.selected.length > 0" color="warn" (click)="desassociateExams()">   
                        Desassociar Teste{{ selectionExams.selected.length > 1 ? 's' : '' }}
                    </button>
                </div>
            </mat-toolbar>
            
            <table mat-table [dataSource]="dataSourceExams" matSort (matSortChange)="sortDataExams($event)" class="mat-elevation-z8">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th [style.width]="'8%'" mat-header-cell *matHeaderCellDef >
                        <mat-checkbox (change)="$event ? masterToggleExams() : null" 
                                        [checked]="selectionExams.hasValue() && isAllSelectedExams()"
                                        [indeterminate]="selectionExams.hasValue() && !isAllSelectedExams()">
                        </mat-checkbox>
                    </th>
                    <td [style.width]="'8%'" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionExams.toggle(row) : null"
                                        [checked]="selectionExams.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="title">
                    <th [style.width]="'40%'" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Nome">Nome</th>
                    <td [style.width]="'40%'" mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                
                <ng-container matColumnDef="numQuestions">
                    <th mat-header-cell *matHeaderCellDef>Número de Questões</th>
                    <td mat-cell *matCellDef="let element"> {{element.number_of_exercises}} </td>
                </ng-container>

                <ng-container matColumnDef="password">
                    <th [style.width]="'15%'" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Data">Data</th>
                    <td [style.width]="'15%'" mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="timer">
                    <th [style.width]="'15%'" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Data">Data</th>
                    <td [style.width]="'15%'" mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsExams"></tr>
                <tr mat-row (click)="confirmExam(row)" *matRowDef="let row; columns: displayedColumnsExams;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Não há perguntas que correspondam ao filtro "{{inputExam.value}}"</td>
                </tr>
            </table>
            <mat-paginator appPageSizeClassExs [length]="pageSizeExams" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Seleciona página dos Testes">
            </mat-paginator>
        </mat-tab>

        <mat-tab *ngIf="data.type != 'Student'" label="Estatísticas">
            <mat-accordion class="mt-2">
                <mat-toolbar class="mt-2" style="max-width: 700px">
                    <div class="col-2 mt-2">
                        <mat-form-field style="font-size: 0.95rem;">
                            <mat-label>Filtrar</mat-label>
                            <input matInput #inputStat>
                            <mat-icon>search</mat-icon>
                        </mat-form-field>
                    </div>
    
                    <div class="col"></div>
                </mat-toolbar>

                <mat-expansion-panel *ngFor="let exam of sorted_stats | keyvalue">
                    <mat-expansion-panel-header *ngIf="inputStat.value != '' ? exam.key.includes(inputStat.value) : true">
                        <mat-panel-title>{{exam.key}}</mat-panel-title>
                    
                        <mat-panel-description>{{exam.value.length + ' submiss'}}{{exam.value.length == 1 ? 'ão' : 'ões'}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <mat-selection-list #submittedExam [multiple]="false">
                        <mat-list-option [disabled]="true">
                            <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h5>Nome</h5>
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h5>Classificação</h5>
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h5>Data de Submissão</h5>
                                </div>
                            </div>
                        </mat-list-option>

                        <mat-list-option *ngFor="let element of exam.value" [value]="submittedExam" (click)="reviewExam(element)">
                            <div class="row">
                                <div class="col d-flex align-items-center justify-content-center">
                                    {{element.student}}
                                </div>
                                
                                <div class="col d-flex align-items-center justify-content-center">
                                    {{element.final_mark}}
                                </div>

                                <div class="col d-flex align-items-center justify-content-center">
                                    {{element.date_submitted}}
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>

        <mat-tab label="Definições">
            <div *ngIf="data.type == 'Teacher'">
                <button mat-raised-button color="warn" (click)="deleteClassroom()">
                    <mat-icon>delete</mat-icon>
                    Eliminar Turma
                </button>
            </div>

            <div *ngIf="data.type == 'Student'">
                Código da Turma
                <button mat-raised-button color="warn" (click)="leaveClassroom()">
                    <mat-icon>logout</mat-icon>
                    Sair da Turma
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
