<mat-card [class.mat-elevation-z5]="true">
    <mat-card-content>
        <div class="row mt-4 mx-auto">
            <img [src]="imgPath" alt="Profile Picture"/>
            <h2><b>{{user_info == undefined ? '' : user_info.first_name}}</b></h2>        
        </div>
        <div class="row w-100">
            <div class="col"></div>
            <div class="col-1">
                <button mat-mini-fab color="primary" (click)="editPhoto()"><mat-icon>edit</mat-icon></button>
            </div>
            <div class="col-1"></div>
        </div>
    </mat-card-content>
</mat-card>
