td.mat-cell{
    border-bottom-style: none;
}

th.mat-header-cell{
    border-bottom-style: none;
}

.mat-raised-button {
    width: 30%;
    text-align: center;
}

h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}

form {
    margin: auto;
}
