:host {
    display: block;
    background-color: #F7F7F7;
}

h2 {
    text-align: center;
}

.spinner-background{
    .mat-progress-spinner{
        display: inline;
    }
}

.spinner-grey {
    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: lightgrey;
    } 
}

@media screen and (max-width: 1400px) {
    .game {
        width: 100% !important;
        margin-bottom: 0px !important;
    }
}

#showGame {
    text-align: center;
    height: 100%;
}


#options{
    font-size: large;
    width: 100%;
    border-style:solid; 
    color:rgb(0, 0, 0);
    border-color: black;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 300px;
    min-width: 200px;
}

table {
    width: 100%;
}
