<mat-card id="main-mat-card">
    <h2>{{room_id}}</h2>
    <div *ngIf="!show_answer">
        <h1>Time left: {{counter}}</h1>
        <h1>{{question}}</h1>
        <img mat-card-image id="image" *ngIf="image_url != ''" [src]="image_url" alt="Exercise Image">
        <div aria-label="Select an option" >
            <div *ngFor="let option of options" >
                <button id="options" mat-raised-button color="primary" [value]="option" (click)="getOption(option)">
                {{option}}
                </button>
                <br>
                <br>
            </div>
            
        </div>
    </div>
    <div style="position: relative;">
        <mat-icon *ngIf="!started" color="primary" id="play" (click)="startGame()">play_circle_outline</mat-icon>
    </div>
    <mat-card *ngIf="show_answer && !correct_answer">Correct answer: {{answer}}</mat-card>
    <mat-card *ngIf="correct_answer && show_answer">Correct!</mat-card>
    <mat-card *ngIf="!correct_answer && show_answer">Wrong!</mat-card>
</mat-card>
