#main-mat-card {
    border-radius: 20px;
    margin: auto;
    // width: 50%;
    //height: 800px;
    background-color:transparent;
    //height: 40%;
}

#options{
    font-size: large;
    width: 100%;
    border-style:solid; 
    color:white;
    border-color: black;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 500px;
    min-width: 200px;
}

#play{
    font-size: 80px;
    position:absolute;
    top:410px;
    right:50px;
}