<div id="welcome" class="text-center col-12">
    <h2 id="welcome_text">Bem vindo ao</h2>
    <a href="/"><img src="../../assets/img/le.png" style="max-height:100px" class="img-fluid"></a>
    <p></p>
    <p id="welcome_text" class="text-kerning text-bold">Learning eletronics</p>
    <p>Queres Saber mais? Consulta o nosso FAQ</p>
    <button mat-raised-button>FAQ</button>
</div>
                            

<div class="row d-flex justify-content-center">
    <div class="col"></div>
    <mat-grid-list cols="2" rowHeight="2:1">

        <!-- GRID ONE LEFT->RIGHT TOP->BOTTOM -->
        <mat-grid-tile>
            <div class="view overlay zoom">
                <img src="../../assets/img/Frame1.png" class="img-fluid " alt="smaple image">
            </div>
        </mat-grid-tile>
        
        
        <mat-grid-tile>
            <div class="view overlay zoom">
                <img src="../../assets/img/Frame2.png" class="img-fluid " alt="smaple image">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="view overlay zoom">
                <img src="../../assets/img/Frame3.png" class="img-fluid " alt="smaple image">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="view overlay zoom">
                <img src="../../assets/img/Frame4.png" class="img-fluid " alt="smaple image">
            </div>
        </mat-grid-tile>
      </mat-grid-list>
      
    
    <div class="col"></div>
</div>
