.example-card {
    max-width: 400px;
    background: #3F51B5;
}

span {
    display: table;
    margin: 0 auto;
}

#welcome{
    height: auto;
    font-size: large;
    padding: 25px 75px
}

#welcome_text{
    font-size: 200%;
}

mat-icon{
    font-size: 300%;
}

.img:hover{
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

mat-icon {
    color: white;
}

.banner {
    width: 35%;
    aspect-ratio: 1;
    min-width: 200px;
    background-color: #3F51B5;
    border-radius: 15px !important;
}

mat-card-content {
    justify-content: center;
}

mat-card-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.example-card{

    width: 300px;
    height: 300px;

}
.content{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    
    margin: 0 auto;
    width: 40%;
    padding-top: 100px;
    vertical-align: middle;
    


    color: #FFFFFF;
    
}

.contenttitle{
    text-align: center;
}
