<div class="row d-flex justify-content-center w-100 h-100">
    <div #targetUp class="row"></div>
    <section class="layout">
        <!-- Lado esquerdo da ágina  -->
        <div class="body">
            <div class="mat-display-4" text-align: right >
                <p style="padding-left: 1%;">Learning</p>
                <p style="text-align:right"> Eletronics</p>
            </div>
    
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>A nossa missão</mat-card-title>
                    <mat-card-subtitle>Um projeto ambicioso </mat-card-subtitle>
                    <img mat-card-sm-image src= 'assets/img/le.png' >
                </mat-card-title-group>
                <mat-card-content>
                    A plataforma learning eletronics visa  a re-inventar os metodos de aprendizagem clássicos.
                    Através de maior interação didátca fornecendo assim um ambiente competitivo e dinâmico para alunos na area de eletŕonica.
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Lado direito da página -->
        <div class="asd">
            <section class="layout2">
            <!-- TOP LEFT -->
            <div class="left">
                <mat-card class="example-card2" [class.mat-elevation-z2]="!isActive1"
                [class.mat-elevation-z8]="isActive1" (mouseenter)="isActive1 = true" (mouseleave)="isActive1 = false" >
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title>Quiz</mat-card-title>
                    <mat-card-content class="content" >
                        quiz
                    </mat-card-content>
                </mat-card></div>
            <!-- TOP RIGHT -->
            <div class="">
                <mat-card class="example-card2" [class.mat-elevation-z2]="!isActive2"
                [class.mat-elevation-z8]="isActive2" (mouseenter)="isActive2 = true" (mouseleave)="isActive2 = false" >
                    <mat-card-title>Jogos</mat-card-title>
                    <mat-card-content class="content" >
                        gamepad
                    </mat-card-content>
                </mat-card>
                </div>
            <!-- BOTTOM LEFT -->
            <div class="left">
                <mat-card class="example-card2" [class.mat-elevation-z2]="!isActive3"
                [class.mat-elevation-z8]="isActive3" (mouseenter)="isActive3 = true" (mouseleave)="isActive3 = false" >
                    <mat-card-title>Biblioteca</mat-card-title>
                    <mat-card-content class="content" >
                        book
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- BOTTOM RIGHT -->
            <div class="">
                <mat-card class="example-card2" [class.mat-elevation-z2]="!isActive4"
                [class.mat-elevation-z8]="isActive4" (mouseenter)="isActive4 = true" (mouseleave)="isActive4 = false" >
                    <mat-card-title>Exercicios</mat-card-title>
                    <mat-card-content class="content" >
                        library_books
                    </mat-card-content>
                </mat-card>
            </div>
            </section>
    
    
        </div>
        </section>
        <div class="row">
        <button mat-icon-button (click)="scrollToElement(targetDown)"><mat-icon>expand_more</mat-icon></button>
    </div>
    </div>

    <div class="row d-flex justify-content-center w-100 h-100"> 
        <div class="row">
            <button mat-icon-button (click)="scrollToElement(targetUp)"><mat-icon>expand_less</mat-icon></button>
        </div>

        <div #targetDown class="col my-auto mx-auto">
        <app-our-team></app-our-team>
    </div>
</div>
    
  