<div class="row d-flex justify-content-center w-100 h-100">      
    <div class="col-8 my-auto">
        <img class="mx-auto d-block" style="width: 60%; min-width: 300px;" src="../assets/img/home.png">
    </div>
    <div class="col my-auto">
        <mat-card [class.mat-elevation-z5]="true" class="mx-auto">
            <div class="col">
                <div class="row mt-3 mb-4">
                    <h1><b>LOGIN</b></h1>
                </div>
                    <div class="row my-3">
                    <button mat-button color="primary" (click)="login()">Entrar</button>
                </div>
                <div class="row my-4">
                    <img class="le-img" src="../assets/img/le.png">
                </div>
                <hr class="solid">
                <div class="row my-3">
                    <button mat-button color="accent" routerLink="/register">Registar</button>
                </div>
                <div class="row my-3">
                    <button mat-button color="accent" (click)="recoverPassword()">Recuperar Password</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
