h1, h2, h3, h4, h5 {
    text-align: center;
    margin: auto;
}

.le-img {
    display: block;
    max-width: 45%;
    margin: auto;
}

mat-card {
    border-radius: 20px;
    width: 70%;
    margin-right: 50%;
    min-width: 300px;
    max-width: 400px;
}

hr.solid {
    width: 80%;
    margin: auto;
    border-top: 3px solid primary;
}

.mat-button {
    margin: auto;
    width: 50%;
}

.row {
    margin-left: 0px !important;
}
