.title {
    font-size: 2rem;
    font-weight: 450;
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    max-width: 250px;
    min-width: 140px;
    float: right;
    display: block;
    margin-right: 40px;
}

.game-info {
    text-align: left;
    margin-left: 40px;
}

@media screen and (max-width: 438px) {
    img {
        margin-right: 0px;;
    }

    .game-info {
        margin-left: 20px;
    }
}
