#showGame {
    text-align: center;
    //float:none; 
    width:50%;
    // max-width: 800px;
    height:50%;
}

#chat{
    float:none;
    width:50%;
    height:1024px;
}


// mat-card{

    
//     margin-left: auto;
//    margin-top: 10%;
//     margin-right: auto;

//     max-width: 20%;

// }