<mat-sidenav-container autosize class="h-100">
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item>
                <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
            </mat-list-item>

            <mat-list-item (click)="isExpanded = !isExpanded">
                <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
            </mat-list-item>
    
            <mat-list-item routerLink="">
                <mat-icon mat-list-icon>home</mat-icon>
                <span *ngIf="isExpanded">Home</span>
            </mat-list-item>

            <mat-list-item (click)="profileRouting()">
                <mat-icon mat-list-icon>person</mat-icon>
                <span *ngIf="isExpanded">Perfil</span>
            </mat-list-item>

            <mat-list-item (click)="classRouting()">
                <mat-icon mat-list-icon>class</mat-icon>
                <span *ngIf="isExpanded">Turmas</span>
            </mat-list-item>
    
            <mat-list-item routerLink="library/">
                <mat-icon mat-list-icon>library_books</mat-icon>
                <span *ngIf="isExpanded">Biblioteca</span>
            </mat-list-item>
    
            <mat-list-item (click)="quizzRouting()">
                <mat-icon mat-list-icon>edit_note</mat-icon>
                <span *ngIf="isExpanded">Teste Tipo</span>
            </mat-list-item>

            <mat-list-item routerLink="">
                <mat-icon mat-list-icon>gamepad</mat-icon>
                <span *ngIf="isExpanded">Jogo 1vs1</span>
            </mat-list-item>

            <mat-list-item routerLink="faq/">
                <mat-icon mat-list-icon>help_outline</mat-icon>
                <span *ngIf="isExpanded">FAQ</span>
            </mat-list-item>

            <mat-list-item *ngIf="loggedIn" (click)="logout()">
                <mat-icon mat-list-icon>logout</mat-icon>
                <span *ngIf="isExpanded">Logout</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
