<mat-sidenav-container [ngStyle]="{ 'background': 
    'linear-gradient( rgba(0, 0, 0,' + theme + '), rgba(0, 0, 0,' + theme + ')),'+ 
    'url(../assets/img/' + currentComponent + '-background' + '.png)' }"
    autosize class="h-100">
    <mat-sidenav #sidenav mode="side" opened="true" [class.mat-elevation-z10]="true">
        <mat-nav-list>
            <mat-list-item>
                <mat-slide-toggle class="slide" [formControl]="toggleControl"></mat-slide-toggle>
            </mat-list-item>

            <mat-list-item  *ngIf="!smallScreen" (click)="isExpanded = !isExpanded">
                <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
            </mat-list-item>

            <mat-list-item  *ngIf="smallScreen">
                <mat-icon mat-list-icon class="chevron-button sidenav-button">remove</mat-icon>
            </mat-list-item>
    
            <mat-list-item routerLink="">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>home</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Home</p>
                    </div>
                </div>
                
                <span *ngIf="isExpanded">Home</span>
            </mat-list-item>

            <mat-list-item (click)="profileRouting()">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>person</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Perfil</p>
                    </div>
                </div>
                
                <span *ngIf="isExpanded">Perfil</span>
            </mat-list-item>

            <mat-list-item (click)="classRouting()">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>class</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Turmas</p>
                    </div>
                </div>
                
                <span *ngIf="isExpanded">Turmas</span>
            </mat-list-item>

            <mat-list-item routerLink="my_exercises/" *ngIf="teacher">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>folder_special</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Exercícios</p>
                    </div>
                </div>
                
                <span *ngIf="isExpanded">Meus Exercícios</span>
            </mat-list-item>

            <mat-list-item routerLink="my_exams/" *ngIf="teacher">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>snippet_folder</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Testes</p>
                    </div>
                </div>
         
                <span *ngIf="isExpanded">Meus Testes</span>
            </mat-list-item>
    
            <mat-list-item routerLink="library/">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>library_books</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Biblioteca</p>
                    </div>
                </div>
                
                <span *ngIf="isExpanded">Biblioteca</span>
            </mat-list-item>
    
            <mat-list-item (click)="quizzRouting()">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>quiz</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Teste</p>
                    </div>
                </div>
             
                <span *ngIf="isExpanded">Autoteste</span>
            </mat-list-item>

            <mat-list-item (click)="gameRouting()">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>gamepad</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Jogos</p>
                    </div>
                </div>

                <span *ngIf="isExpanded">Jogo 1vs1</span>
            </mat-list-item>

            <mat-list-item routerLink="faq/">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>help_outline</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>FAQ</p>
                    </div>
                </div>

                <span *ngIf="isExpanded">FAQ</span>
            </mat-list-item>

            <mat-list-item *ngIf="loggedIn" (click)="logout()">
                <div class="col- my-auto">
                    <mat-icon mat-list-icon>logout</mat-icon>
                    
                    <div *ngIf="!isExpanded" class="row">
                        <p>Logout</p>
                    </div>
                </div>
                
                <span *ngIf="isExpanded">Logout</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
