<div class="row d-flex justify-content-center w-100 h-100">
    <mat-card [class.mat-elevation-z5]="true">
        <form [formGroup]="createTestForm" (ngSubmit)="submit()">
            <mat-card-title id="header">Criar Teste</mat-card-title>
            <mat-card-subtitle id="header">Crie um teste para praticar</mat-card-subtitle>
            <div class="col">
                
                <div class="col my-5 d-flex justify-content-center">
                    <mat-form-field class="mx-auto">
                        <mat-label>Nº de Perguntas</mat-label>
                        <input matInput appearance="fill" formControlName="nQuestions" required>
                        <!-- <mat-error *ngIf="form.controls['fname'].invalid">Você deve inserir um nome</mat-error> -->
                    </mat-form-field>
                </div>
                
                <div class="col my-5 d-flex justify-content-center">
                    <mat-form-field class="mx-auto">
                        <mat-label>Temas das Perguntas</mat-label>
                        <mat-select formControlName="themes" required multiple>
                            <mat-option *ngFor="let theme of all_themes" [value]="theme.id">
                                {{theme.name}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="form.controls['lname'].invalid">Você deve inserir um nome</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col my-5 d-flex justify-content-center">
                    <mat-form-field id="mat-form-field">
                        <mat-label>Duraçao</mat-label>
                        <input matInput formControlName="duration" required>
                        <!-- <mat-error *ngIf="form.controls['lname'].invalid">Você deve inserir um nome</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col my-5 d-flex justify-content-center">
                    <mat-form-field >
                        <mat-label>Desconto</mat-label>
                        <mat-select formControlName="deduct" name="Desconto" required>
                            <mat-option [value]="point.value" *ngFor="let point of points">
                            {{point.name}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="deduct?.hasError('required')">Escolha um valor de desconto</mat-error> -->
                    </mat-form-field>
                </div>
            


                <div class="row mt-4 mb-1 mx-auto">
                    <button mat-raised-button color="accent" type="submit" mat-button>Criar</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>
