#header{
    //border-radius: 20px 20px 0px 0px;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
    //height: 55%;
}
mat-card {
    border-radius: 20px;
    margin: auto;
    width: 50%;
    height: 60%;
}

.mat-raised-button {
    margin: auto;
    width: 20%;
}

.mat-form-field {
    margin: auto;
    width: 90%;
}