<mat-dialog-content class="mat-typography">
    <h2 class="text-center" mat-dialog-title>{{data.ModalTitle}}</h2>

    <form [formGroup]="form">
        <div class="row mx-auto">
            <div class="col">
                <div class="row my-3 mx-auto">
                    <mat-form-field class="mx-auto">
                        <mat-label>Pergunta</mat-label>
                        <input matInput formControlName="question" required>
                        <mat-error *ngIf="question?.hasError('required')">Crie uma questão</mat-error>
                    </mat-form-field>
                </div>
    
                <div class="row my-3 mx-auto">
                    <mat-form-field class="mx-auto">
                        <mat-label>Respostas (R1; R2; R3; RCorreta)</mat-label>
                        <input matInput formControlName="answers" (input)="onAnswerInput()" required>
                        <mat-error *ngIf="answer?.hasError('required')">Preencha as respostas da questão</mat-error>
                        <mat-error *ngIf="answer?.invalid && !answer?.hasError('required')">Formato errado</mat-error>
                    </mat-form-field>
                </div>
    
                <div class="row my-3 mx-auto">
                    <mat-form-field >
                        <mat-label>Tema</mat-label>
                        <mat-select formControlName="theme" name="Tema" multiple>
                            <mat-option [value]="theme.id" *ngFor="let theme of data.themes">
                            {{theme.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
    
                <div class="row my-3 mx-auto">
                    <mat-form-field >
                        <mat-label>Unidade</mat-label>
                        <mat-select formControlName="unit" name="Unidade">
                            <mat-option [value]="unit" *ngFor="let unit of data.units">
                            {{unit}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row my-2 mx-auto">
                    <mat-checkbox color="primary" formControlName="check" (change)="blockClassrooms($event.checked)">Tornar o exercício público</mat-checkbox>
                </div>

                <div class="row my-3 mx-auto">
                    <mat-form-field >
                        <mat-label>Turmas</mat-label>
                        <mat-select formControlName="classrooms" name="Turmas" multiple>
                            <mat-option [value]="class.id" *ngFor="let class of data.classrooms">
                            {{class.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
    
                <div class="row my-3 mx-auto">
                    <mat-form-field >
                        <mat-label>Resolução</mat-label>
                        <input matInput formControlName="resolution" name="Resolução">
                    </mat-form-field>
                </div>
            </div>
            <div class="col my-3 mx-auto">
                <div class="row mx-auto">
                    <image-cropper
                    [ngStyle]="{ 'opacity': (imgPath == '') && (imageChangedEvent == '' && croppedImage == '') ? '0' : '1' }"
                    [imageURL]="imgPath"
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    ></image-cropper>
                </div>
        
                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <mat-form-field>
                                <ngx-mat-file-input placeholder="Escolher Imagem" (change)="fileChangeEvent($event)"></ngx-mat-file-input>
                                <mat-icon matSuffix>folder</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="row mx-auto">
                            <button mat-raised-button color="primary" (click)="uploadPhoto()">Carregar Imagem <mat-icon>upload</mat-icon></button>  
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-4 mb-1" style="margin: 0px; padding: 0px">
                <div class="col"></div>

                <div class="col-1" style="width: fit-content; padding: 0px;">
                    <button mat-mini-fab class="mx-4" *ngIf="!disabled" color="primary" (click)="submit()"><mat-icon>upload</mat-icon></button>  
                </div>

                <div class="col-1" style="width: fit-content;; padding: 0px;">
                    <button mat-mini-fab class="mx-4" color="primary" (click)="edit()"><mat-icon>edit</mat-icon></button>     
                </div>

                <div class="col-1" style="width: fit-content;; padding: 0px;">
                    <button mat-mini-fab class="mx-4" color="warn" (click)="deleteEx()"><mat-icon>delete</mat-icon></button>
                </div>   
            </div>
        </div>
    </form>
</mat-dialog-content>
