
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="col">
            <div class="row my-3 mx-auto">
                <mat-form-field class="mx-auto">
                    <mat-label>Pergunta</mat-label>
                    <input matInput formControlName="question" required>
                </mat-form-field>
            </div>

            <div class="row my-3 mx-auto">
                <mat-form-field class="mx-auto">
                    <mat-label>Respostas</mat-label>
                    <input matInput formControlName="answers" required>
                </mat-form-field>
            </div>

            <div class="row my-3 mx-auto">
                <mat-form-field >
                    <mat-label>Tema</mat-label>
                    <input matInput formControlName="theme" required>
                </mat-form-field>
            </div>

            <div class="row my-3 mx-auto">
                <mat-form-field >
                    <mat-label>Resolução</mat-label>
                    <input matInput formControlName="resolution" required>
                </mat-form-field>
            </div>

            <div class="row my-3 mx-auto">
                <mat-form-field>
                    <mat-label>Imagem</mat-label>
                    <input matInput formControlName="image" required>
                </mat-form-field>
            </div>

            <div class="row mt-4 mb-1 mx-auto">
                <button mat-raised-button color="accent" type="submit" mat-button>Adicionar Exercício</button>
            </div>
        </div>
    </form>
</mat-dialog-content>
