<div class="row d-flex justify-content-center w-100 h-100">
    <div class="col-1"></div> 

    <div class="col my-auto">
        <mat-card>
            <div class="col">
                <div class="row my-3">
                    <img mat-card-image src="../assets/img/register.png">
                </div>
                <div class="row my-3">
                    <p>Registration was not sucessfull!</p>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-"></div>  
</div>
