<mat-card [class.mat-elevation-z5]="true">
    <div class="row">
        <h1><b>PERFIL</b></h1>
    </div>
    <div class="row">
        <form [formGroup]="form">
            <div class="col">
                <div class="row my-3 mx-auto">
                        <div class="col d-flex justify-content-center">
                            <mat-form-field class="mx-auto" appearance="fill">
                                <mat-label>Primeiro Nome</mat-label>
                                <input matInput placeholder="John" formControlName="fname" required>
                                <mat-error *ngIf="form.controls['fname'].invalid">Você deve inserir um nome</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col d-flex justify-content-center">
                            <mat-form-field class="mx-auto" appearance="fill">
                                <mat-label>Último Nome</mat-label>
                                <input matInput placeholder="Doe" formControlName="lname" required>
                                <mat-error *ngIf="form.controls['lname'].invalid">Você deve inserir um nome</mat-error>
                            </mat-form-field>
                        </div>
                </div>

                <div class="row my-3 mx-5">
                    <mat-form-field class="mx-auto" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                    </mat-form-field>
                </div>

                <div class="row my-3 mx-auto">
                    <div class="col d-flex justify-content-center">
                        <mat-form-field class="mx-auto" appearance="fill">
                            <mat-label>Data de Nascimento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="bday" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.controls['bday'].invalid">Data introduzida inválida</mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="col d-flex justify-content-center">
                        <mat-form-field class="mx-auto" appearance="fill">
                            <mat-label>Data de Ingresso</mat-label>
                            <input matInput formControlName="joined" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row my-2 mx-auto">
                    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
                </div>

                <div class="row mt-4 mb-1 mx-auto">
                    <div class="col"></div>

                    <div class="col-1">
                        <button mat-mini-fab class="mx-4" *ngIf="!disabled" color="primary" (click)="submit()"><mat-icon>upload</mat-icon></button>  
                    </div>

                    <div class="col-1">
                        <button mat-mini-fab class="mx-4" color="primary" (click)="edit()"><mat-icon>edit</mat-icon></button>     
                    </div>
                </div>
            </div>
        </form>
    </div>
</mat-card>  
