h1, h2, h3, h4, h5 {
    text-align: center;
    margin: auto;
}

.mat-raised-button {
    margin: auto;
    width: 60%;
}

.mat-icon-button {
    margin: auto;
    transform: scale(1.5);
}

.mat-icon{
    margin: auto;
    transform: scale(1.7);
}
