<div class="row first-page">
    <div class="col image-col">
        <div class="profile-container">
            <div class="photo-card mx-2">
                <app-show-photo [user_info]="user_info"></app-show-photo>
            </div>

            <div class="info-card">
                <div class="row mx-auto mt-4 mb-2">
                    <button mat-raised-button color="accent" (click)="changeEmail()">Mudar Email</button>
                </div>
        
                <div class="row mx-auto my-2">
                    <button mat-raised-button color="accent" (click)="changePassword()">Mudar Password</button>
                </div>
        
                <div class="row mx-auto my-2">
                    <button mat-raised-button color="warn" (click)="deleteAccount()">Eliminar Conta</button>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col my-auto mx-5">
        <app-show-info [user_info]="user_info"></app-show-info>  
    </div>
</div>

<div class="row second-page">
    <div class="col my-auto mx-5 pb-4">
        <app-statistics></app-statistics>
    </div>
</div>
