<div class="row mx-auto">
    <h2 mat-dialog-title>Recuperar Password</h2>
</div>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="col">
            <div class="row my-3 mx-auto">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="name@example.com" formControlName="email" required>
                    <mat-error *ngIf="form.controls['email'].invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row mt-4 mb-1 mx-auto">
                <button mat-raised-button color="primary" type="submit">Recuperar</button>
            </div>
        </div>
    </form>
</mat-dialog-content>
