<div class="row d-flex justify-content-center w-100 h-100">
    <div class="col mx-auto">
        <button mat-raised-button color="primary" (click)="addEx()">Adicionar Exercício</button>
        <div class="row my-auto mx-5">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="question">
                  <th mat-header-cell *matHeaderCellDef>Pergunta</th>
                  <td mat-cell *matCellDef="let element"> {{element.question}} </td>
                </ng-container>
              
                <ng-container matColumnDef="theme">
                  <th mat-header-cell *matHeaderCellDef>Temas</th>
                  <td mat-cell *matCellDef="let element"> {{element.theme}} </td>
                </ng-container>
              
                <ng-container matColumnDef="classes">
                  <th mat-header-cell *matHeaderCellDef>Visibilidade</th>
                  <td mat-cell *matCellDef="let element"> {{element.classes}} </td>
                </ng-container>
            
              
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Data</th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr (click)="editEx(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
