<div class="row d-flex justify-content-center w-100 h-100">
    <div class="col my-5 mx-auto">
        <div class="row mx-5">
            <mat-toolbar>
                <div class="col"></div>
                
                <div class="col-2">
                    <button mat-raised-button color="warn" *ngIf="selection.selected.length > 0" (click)="deleteExercises()">
                        Eliminar Exercício{{ selection.selected.length > 1 ? 's' : '' }}
                    </button>
                </div>

                <div class="col-2">
                    <button mat-raised-button color="primary">Associar Turmas</button>
                </div>

                <div class="col-2">
                    <button mat-raised-button color="primary" (click)="addEx()">Adicionar Exercício</button>
                </div>
            </mat-toolbar>
            
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="question">
                    <th mat-header-cell *matHeaderCellDef>Pergunta</th>
                    <td (click)="editEx(element)" mat-cell *matCellDef="let element"> {{element.question}} </td>
                </ng-container>
              
                <ng-container matColumnDef="theme">
                    <th mat-header-cell *matHeaderCellDef>Temas</th>
                    <td (click)="editEx(element)" mat-cell *matCellDef="let element"> {{element.theme}} </td>
                </ng-container>
              
                <ng-container matColumnDef="classes">
                    <th mat-header-cell *matHeaderCellDef>Visibilidade</th>
                    <td (click)="editEx(element)" mat-cell *matCellDef="let element"> {{element.classes}} </td>
                </ng-container>
            
              
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Data</th>
                    <td (click)="editEx(element)" mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
