mat-card {
    border-radius: 20px;
    margin: auto;
    // width: 50%;
    height: 800px;
}

#messages {
    overflow: auto;
    height: 85%;
}

mat-form-field {

    position: absolute;
    width: 50%;
    bottom: 10px;
    border: 3px;
 
}