<mat-card>
    <mat-card-content>
        <div class="col">
            <div class="row my-1">
                <h2>Chat da Sala {{room_id}}</h2>
            </div>

            <div class="row my-2">
                <div *ngFor="let item of chat ">
                    <b>{{item.src}}</b> : {{item.data}}
                </div>
            </div>
            
            <div class="row mt-3">
                <mat-form-field appearance="fill">
                    <mat-label>Send message</mat-label>
                    <input  matInput type="text" [(ngModel)]="msg" (keyup.enter)="sendMessage()">
                    <button *ngIf="msg" matSuffix mat-icon-button aria-label="Clear" (click)="sendMessage()">
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
