<mat-card [class.mat-elevation-z5]="true">
    <div class="row">
        <h1><b>Estatísticas</b></h1>
    </div>
    <div class="row w-100">
        <div class="col">
            <circle-progress [percent]="0"></circle-progress>
        </div>

        <div class="col">
            <circle-progress [percent]="10"></circle-progress>
        </div>

        <div class="col">
            <circle-progress [percent]="85"></circle-progress>
        </div>
    </div>

    <div class="row w-100">
        <div class="col">
            <circle-progress [percent]="25"></circle-progress>
        </div>

        <div class="col">
            <circle-progress [percent]="100"></circle-progress>
        </div>

        <div class="col">
            <circle-progress [percent]="55"></circle-progress>
        </div>
    </div>
</mat-card>
