h1, h2, h3, h4, h5 {
    text-align: center;
    margin: auto;
}

.le-img {
    display: block;
    max-width: 45%;
    margin: auto;
}

.home {
    background-image: url(../../assets/img/home-background.jpg); 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.mat-card {
    margin: auto;
    border-radius: 25px;
    width: 70%;
    max-width: 500px;
    min-width: 350px;
}

.welcome {
    width: 70%;
    min-width: 148px;
    margin: auto;
    display: block;
}

P {
    font-weight: 450;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.mat-button {
    margin: auto;
    width: 50%;
}

.row {
    margin-left: 0px !important;
}
