<h2 class="text-center" mat-dialog-title>Entrar na Turma - {{info_class.name}}</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="col">
            <div class="row my-3 mx-auto">
                <mat-form-field >
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.controls['password'].invalid">Você deve inserir uma password</mat-error>
                </mat-form-field>
            </div>

            <div class="row mt-4 mb-1 mx-auto">
                <button mat-raised-button color="accent" type="submit">Entrar</button>
            </div>
        </div>
    </form>
</mat-dialog-content>
