<div class="row d-flex justify-content-center w-100 h-100">
    <mat-card>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="col">
                <div class="row my-3 mx-auto">
                        <div class="col d-flex justify-content-center">
                            <mat-form-field class="mx-auto">
                                <mat-label>Primeiro Nome</mat-label>
                                <input matInput appearance="fill" placeholder="John" formControlName="fname" required>
                                <mat-error *ngIf="form.controls['fname'].invalid">{{'Você deve inserir um valor'}}</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col d-flex justify-content-center">
                            <mat-form-field class="mx-auto">
                                <mat-label>Último Nome</mat-label>
                                <input matInput placeholder="Doe" formControlName="lname" required>
                                <mat-error *ngIf="form.controls['lname'].invalid">{{'Você deve inserir um valor'}}</mat-error>
                            </mat-form-field>
                        </div>
                </div>

                <div class="row my-3 mx-auto">
                    <mat-form-field class="mx-auto">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="name@example.com" formControlName="email" required>
                        <mat-error *ngIf="form.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="row my-3 mx-auto">
                    <mat-form-field >
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="form.controls['password'].invalid">{{'Você deve inserir um valor'}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="row my-3 mx-auto">
                    <mat-form-field>
                        <mat-label>Data de Nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="bday" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="row my-3 mx-auto">
                    <div class="col"></div>
                    
                    <div class="col my-auto mx-auto">
                        <mat-checkbox class="ml-2" formControlName="terms" color="primary">
                            <u (click)="openTerms()">Aceito os termos e condições</u>
                        </mat-checkbox>
                    </div>
                    
                    <div class="col"></div>
                    <!-- <mat-error *ngIf="form.controls['terms'].invalid">{{'Você tem que aceitar os termos e condições'}}</mat-error> -->
                </div>

                <div class="row mt-4 mb-1 mx-auto">
                    <button mat-raised-button color="accent" type="submit" mat-button>Registar</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>
