mat-card {
    border-radius: 20px;
    margin: auto;
}

.mat-raised-button {
    margin: auto;
    width: 20%;
}

u {    
    border-bottom: 1px dashed #000;
    text-decoration: none;
}

@media screen and (max-width: 770px) {
    .mat-raised-button {
        width: 50%;
    }
}
