mat-card {
    border-radius: 20px;
    margin: auto;
    width: 50%;
    height: 45%;
}

.mat-raised-button {
    margin: auto;
    width: 20%;
}

u {    
    border-bottom: 1px dashed #000;
    text-decoration: none;
}
