<div class="row d-flex justify-content-center mt-5 w-100">
    <div class="row mx-auto">
        <form class="example-form">
            <mat-form-field>
            <span matPrefix></span>
            <input type="tel" matInput placeholder="Search" name="search" [(ngModel)]="search">
            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
            </mat-form-field>
            <br/>
            {{search}}
        </form>
    </div>
    <div class="row my-auto mx-auto">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="teacher">
              <th mat-header-cell *matHeaderCellDef>Professor</th>
              <td mat-cell *matCellDef="let element"> {{element.teacher}} </td>
            </ng-container>
          
            <ng-container matColumnDef="number_students">
              <th mat-header-cell *matHeaderCellDef>Turma</th>
              <td mat-cell *matCellDef="let element"> {{element.number_students}} </td>
            </ng-container>
        
          
            <ng-container matColumnDef="actions">
              <th mat-header-cell  *matHeaderCellDef>Aceder</th>
              <mat-cell *matCellDef="let row" >
                <button mat-icon-button type="button" color="accent" routerLink="/class/" [state]="{ id: value }">
                  <mat-icon >login</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
