<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row mx-auto">
        <div class="col">
            <div class="row my-3 mx-auto">
                <mat-form-field class="mx-auto">
                    <mat-label>Pergunta</mat-label>
                    <input matInput formControlName="question" required>
                    <mat-error *ngIf="question?.hasError('required')">Crie uma questão</mat-error>
                </mat-form-field>
            </div>
            <div class="row my-3 mx-auto">
                <mat-form-field >
                    <mat-label>Tema</mat-label>
                    <mat-select formControlName="theme" name="Tema" multiple>
                        <mat-option [value]="theme.id" *ngFor="let theme of themes">
                        {{theme.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row my-3 mx-auto">
                <mat-form-field class="mx-auto">
                    <mat-label>Target</mat-label>
                    <input matInput formControlName="target" required>
                    <mat-error *ngIf="target?.hasError('required')">Selecione um target</mat-error>
                </mat-form-field>
            </div>
            <div class="row my-3 mx-auto">
                <mat-form-field class="mx-auto">
                    <mat-label>Frequencia</mat-label>
                    <input matInput formControlName="freq" required>
                    <mat-error *ngIf="freq?.hasError('required')">Indique uma frequência</mat-error>
                </mat-form-field>
            </div>
            <div class="row my-3 mx-auto">
                <mat-form-field >
                    <mat-label>Unidade</mat-label>
                    <mat-select formControlName="unit" name="Unidade">
                        <mat-option [value]="unit" *ngFor="let unit of units">
                            {{unit}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row my-2 mx-auto">
                <mat-checkbox color="primary" formControlName="check" name="check" (change)="blockClassrooms($event.checked)">Tornar o exercício público</mat-checkbox>
            </div>

            <div class="row my-3 mx-auto">
                <mat-form-field >
                    <mat-label>Turmas</mat-label>
                    <mat-select formControlName="classrooms" name="Turmas" multiple>
                        <mat-option [value]="class.id" *ngFor="let class of classrooms">
                        {{class.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col my-3 mx-auto">
            <div class="row mx-auto">
                <image-cropper
                [ngStyle]="{'opacity': imageChangedEvent == '' ? '0' : '1'}"
                [imageURL]=""
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                format="png"
                (imageCropped)="imageCropped($event)"
                ></image-cropper>
            </div>
    
            <div class="row mt-3">
                <mat-form-field>
                    <ngx-mat-file-input placeholder="Escolher Imagem" (change)="imageChangeEvent($event)"></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
            </div>
            <div class="col my-3 mx-auto">
                <div class="row mt-3">
                    <mat-form-field>
                        <ngx-mat-file-input type="file" placeholder="Escolher Ficheiro" (change)="fileChangeEvent($event)"></ngx-mat-file-input>
                        <mat-icon matSuffix>folder</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <div class="row mt-4 mb-1 mx-auto">
            <button mat-raised-button color="accent" type="submit" mat-button>{{ModalTitle.substring(0, ModalTitle.length - 9)}}</button>
        </div>

    </div>
</form>